/* Login.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#d2c0c0;
    border-radius: 10px;
  }
  
  
  
  .main {
    background-color: #c09898;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 500px;
  }
  
  .container {
    background-color: #b49191d6;
    padding: 100px;
    margin-left: 30px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(232, 229, 229, 0.1);
    text-align: center;
    
  }
  
  .container h1 {
    font-size: 50px;
    margin-bottom: 80px;
    
  }
  
  .container input {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ffbac9;
    border-radius: 10px;
    border-radius: 50px;
    
  }
  
  .container button {
    width: 100%;
    padding: 10px;
    background-color:rgba(252, 251, 252, 0.267);
    color: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 500px;
  }
  
  button:hover {
    background-color: #ffffff;
  }
  
 .main img{
  display:flex;
  width: 100vh;
 }


