/* Add your CSS styling here */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .faq-item {
    margin-bottom: 20px;
  }
  
  .faq-question {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faq-icon {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .faq-icon.open {
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  .faq-answer {
    display: none;
  }
  
  .faq-answer.open {
    display: block;
  }
  